@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-toptablet: 870px;
  --breakpoint-xxs: 400px;
  --breakpoint-lastpoint: 300px;
  --breakpoint-xxsm: 450px;
  --color-background: var(--background);
  --color-primarydev: #1c1c22;
  --color-accent: #00ff99;
  --color-accent-hover:#00e187;
  --color-lightGray: #FAFAFA;
  --color-charcoalGray: #5C5757;
  --color-lightGrayShade: #D9D9D9;
  --color-lightGrayShade2: #E8E8E8;
  --color-yellow: #FFDB58;
  --color-navyBlue: #27445D;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary:#27445D;
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}
        .container {
          @apply max-w-7xl p-4 mx-auto;
        }
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    font-family: "Roboto", Helvetica, sans-serif;
  }


  
    @font-face {
      font-family: "ShowcardGothic";
      src: url("/fonts/ShowcardGothic.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
    }
  
    @font-face {
      font-family: "Righteous";
      src: url("/fonts/Righteous-Regular.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
    }
  
    @font-face {
      font-family: "Lora";
      src: url("/fonts/Lora-Regular.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
    }
  
    @font-face {
      font-family: "DancingScript";
      src: url("/fonts/DancingScript.ttf");
      font-weight: 700;
      font-style: italic;
    }
  
    @font-face {
      font-family: "Urbanist";
      src: url("/fonts/Urbanist.ttf");
      font-weight: 400;
      font-style: normal;
    }
  
    @font-face {
      font-family: "Inter";
      src: url("/fonts/Inter.ttf");
      font-weight: 700;
    }
  
    @font-face {
      font-family: "Agbalumo";
      src: url("/fonts/Agbalumo.ttf");
      font-weight: 400;
    }
  
    @font-face {
      font-family: "Namdhinggo";
      src: url("/fonts/Namdhinggo.ttf");
      font-weight: 400;
    }
  
    @font-face {
      font-family: "Sedan";
      src: url("/fonts/Sedan-Regular.ttf");
      font-weight: 400;
    }
  
    @font-face {
      font-family: "JetBrainsMono";
      src: url("/fonts/JetBrainsMono.ttf");
      font-weight: 100, 200, 300, 400, 500, 600, 700, 800;
    }
  
    .font-showcard {
      font-family: "ShowcardGothic", sans-serif;
    }
  
    .font-righteous {
      font-family: "Righteous";
    }
  
    .font-lora {
      font-family: "Lora";
    }
  
    .font-dancing {
      font-family: "DancingScript";
    }
  
    .font-urbanist {
      font-family: "Urbanist";
    }
  
    .font-inter {
      font-family: "Inter";
    }
  
    .font-agbalumo {
      font-family: "Agbalumo";
    }
  
    .font-namdhinggo {
      font-family: "Namdhinggo";
    }
  
    .font-sedan {
      font-family: "Sedan";
    }
  
    .font-jetBrainsMono {
      font-family: "JetBrainsMono";
    }
}
